* {
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
}

.body {
    width: 94%;
    height: fit-content;
    padding: 3%;
    background-color: yellow;
}

.heading {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.container {
    width: 90%;
    height: fit-content;
    background-color: black;
    padding: 5%;
}

.row {
    width: 100%;
    height: 150px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: chocolate;
    color: black;
}

.add {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid black;
}

.sub {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid black;
}

.mul {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid black;
}

.expo {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid black;
}

.div {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid black;
}

.mod {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid black;
}

.inc {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid black;
}

.dec {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid black;
}

button {
    background-color: black;
    color: yellow;
    padding: 3px 3px 3px 3px;
    border-radius: 8px;
}