* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    background-color: yellow;
}

a{
    text-decoration: none;
    color: yellow;
}

/*.................NAVBAR.................*/

header {
    width: 100%;
    height: 60px;
    background-color: black;
    color: yellow;
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
}
.menu ul li a:hover{
    text-decoration: underline;
}
#listmenu{
    padding: 20px;
}

.reg a {
    text-decoration: none;
    color: black;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    background: yellow;
    border-radius: 8px;
}

.reg a:hover {
    background: black;
    color: yellow;
    border: 1px solid yellow;
}

/*................FORM................*/

div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}

h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

div.register{
    background-color: rgba(0, 0, 0, 0.5 );
    margin: 40px 0px 0px 39%;
    width: 350px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3 );
    box-shadow: 2px 2px 15px rgba(0, 0 , 0 , 0.3);
    color: #fff;
    display: inline-block;
    align-items: center;
}

form#register{
    
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 40px;
}

label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}

input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0 , 0 , 0.3);
}

input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgba(250, 100, 0, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(0, 0 , 0 , 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0 , 0 , 0.3);
    margin-bottom: 20px;
}

label, span, h2 {
    text-shadow: 1px 1px 5px rgba(0, 0 , 0 , 0.3);
}