* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: BreveText, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    font-weight: bold;
    background-color: yellow;
}

a{
    text-decoration: none;
    color: yellow;
}

/*.................NAVBAR.................*/

header {
    width: 100%;
    height: 60px;
    background-color: black;
    color: yellow;
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
}
.menu ul li a:hover{
    text-decoration: underline;
}
#listmenu{
    padding: 20px;
}

.reg a {
    text-decoration: none;
    color: black;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    background: yellow;
    border-radius: 8px;
}

.reg a:hover {
    background: black;
    color: yellow;
    border: 1px solid yellow;
}
/*..................CONTAINER..................*/

.animationcontainer {
    width: 100%;
    height: 700.375px;
    display: inline-block;
    background-color: yellow;
    animation-name: containercolor;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

@keyframes containercolor {
    from {
        background-color: black;
    }

    to {
        background-color: yellow;
    }
}

.shapecontainer {
    width: 96%;
    height: 650px;
    background-color: black;
    margin: 2%;
}

.holder{
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
}

/*..................ANIMATED--SHAPES..................*/

.Love {
    font-size: 400px;
    color: yellow;
    display: inline-block;
    position: relative;
    animation: rotateLove 2s 1;
}
@keyframes rotateLove{
    0% {left: 0px; top: 0px;}
    25%{left: 860px; top: 0px;}
    50% {transform: rotate(360deg); left: 0px; top: 300px;}
    75%{left: 860px; top: 300px;}
    100% {left: 0px; top: 0px;}
}

.Death {
    font-size: 310px;
    color: yellow;
    display: inline-block;
    position: relative;
    animation: rotateDeath 2s 1;
}
@keyframes rotateDeath{
    0% {left: 0px; top: 0px;}
    25%{left: 0px; top: 300px;}
    50% {transform: rotate(-360deg); left: 0px; top: 0px;}
    75%{left: 0px; top: 300px;}
    100% {left: 0px; top: 0px;}

}

.Robots {
    width: 240px;
    height: 240px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    animation: rotateRobots 2s 1;
}
@keyframes rotateRobots{
    0% {right: 0px; top: 0px;}
    25%{right: 880px; top: 0px;}
    50% {transform: rotate(360deg); right: 0px; top: 300px;}
    75%{right: 880px; top: 300px;}
    100% {right: 0px; top: 0px;}
}

.eyes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}

#eyeslayout {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
}

/*..................ANIMATED--TEXT..................*/

.animationTXT{
    width: 100%;
    height: 50px;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: yellow;
}
#LTXT{
    padding-left: 50px;
    animation: LTXT 2.5s;
    position: relative;
    animation-iteration-count: 1;
}

@keyframes LTXT{
    0% {left: 0px; top: 0px;}
    25%{left: -600px; top: 0px;}
    50%{left: -1200px; top: 0px;}
    75%{left: -600px; top: 0px;}
    100%{left: 0px; top: 0px;}
}
#DTXT{
    padding-left: 90px;
    animation: DTXT 2.5s;
    position: relative;
    animation-iteration-count: 1;
}

@keyframes DTXT{
    0% {left: 0px; top: 0px;}
    25%{left: 0px; top: 300px;}
    50%{left: 0px; top: 600px;}
    75%{left: 0px; top: 300px;}
    100%{left: 0px; top: 0px;}
}
#RTXT{
    padding-left: 40px;
    animation: RTXT 2.5s;
    position: relative;
    animation-iteration-count: 1;
}

@keyframes RTXT{
    0% {left: 0px; top: 0px;}
    25%{left: 600px; top: 0px;}
    50%{left: 1200px; top: 0px;}
    75%{left: 600px; top: 0px;}
    100%{left: 0px; top: 0px;}
}