*{
    font-family: "Times New Roman";
}


h1{
    text-align:center;
    text-transform: capitalize;
}
p {
    text-align: start;
}

#outer {
    font-size: 25px;

}
#inner {
    font-size: 10px;
}